@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
  --btn-background: rgb(242, 95, 58);
  --btn-hover: rgb(255, 239, 234);
  --background-light: #fafafa;
  --title-color: rgb(35, 44, 81);
  --text-strong: rgb(29, 30, 37);
  --text-medium: rgb(143, 148, 167);
  --text-light: rgb(249, 249, 249);
}

/*              GENERAL                 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Be Vietnam Pro', 'sans-serif';
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h6 {
  color: var(--title-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
  color: var(--text-medium);
  line-height: 1.8rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8%;
}

.container-dark {
  background-color: var(--btn-background);
}

.btn {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
}

.btn-cta {
  background-color: var(--btn-background);
}

.btn-light {
  background-color: white;
  color: var(--btn-background);
}

/*              HEADER                 */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav,
header .container > a {
  display: none;
}

header .logo {
  width: 70px;
  display: block;
}

.hamburger-menu img {
  width: 18px;
  display: block;
}

/*              MAIN                 */

/*    SECTION INTRODUCTION     */
.introduction {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.introduction .btn {
  margin-top: 2rem;
}

.introduction-image img {
  width: 100%;
}

/*    SECTION PRODUCT DESCRIPTION     */
.product-description {
  margin-top: 6rem;
}

.brief {
  text-align: center;
}

.key-products ol {
  list-style: none;
  counter-reset: item;
}

.key-products li {
  counter-increment: item;
}

.key-products li::before {
  content: counter(item);
  background-color: var(--btn-background);
  display: inline-block;
  color: white;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
}

.key-products h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

/*    SECTION REVIEWS     */
.reviews {
  margin-top: 6rem;
  text-align: center;
}

.reviews h2 {
  margin-bottom: 5rem;
}

.review-card {
  background-color: var(--background-light);
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 3rem;
}

.review-card h5 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.review-card img {
  width: 60px;
  margin-top: -30px;
}

.card-hidden {
  display: none;
}

.carousel-control ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.carousel-control li {
  border: 1px solid var(--btn-background);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
}

.carousel-selected {
  background-color: var(--btn-background);
}

/*    SECTION CALL TO ACTION     */
.call-to-action {
  text-align: center;
  padding: 5rem 0;
}

.call-to-action h3 {
  color: white;
  margin-bottom: 2rem;
}
