@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
  --main-background: rgb(242, 95, 58);
  --btn-hover: rgb(255, 239, 234);
  --background-light: #fafafa;
  --background-dark: #1e1e26;
  --title-color: rgb(35, 44, 81);
  --text-strong: rgb(29, 30, 37);
  --text-medium: rgb(143, 148, 167);
  --text-light: rgb(249, 249, 249);
}

/*              GENERAL                 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Be Vietnam Pro', 'sans-serif';
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h6 {
  color: var(--title-color);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 1rem;
  color: var(--text-medium);
  line-height: 1.8rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.container-dark {
  background-color: var(--main-background);
}

.btn {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
}

.btn-cta {
  background-color: var(--main-background);
  box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
}

.btn-cta:hover {
  background-color: #ff7e5b;
  box-shadow: 0px 4px 8px #ff7e5b;
}

.btn-light {
  background-color: white;
  color: var(--main-background);
}

.btn-light:hover {
  background-color: #fff2ef;
}

/*              HEADER                 */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: none;
}

header .container .btn {
  display: none;
}

header .logo {
  width: 70px;
  display: block;
}

.hamburger-menu img {
  width: 18px;
  display: block;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav li a {
  text-decoration: none;
  color: #242e52;
  font-size: 1.3rem;
}

header nav li a:hover {
  color: rgb(197, 197, 197);
}

/*              MAIN                 */

/*    SECTION INTRODUCTION     */
.introduction {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.pill-background {
  position: absolute;
  background-image: url('../img/bg-tablet-pattern.svg');
  background-size: 400px;
  background-repeat: no-repeat;
  width: 100vw;
  height: 600px;
  z-index: -1;
}

.pill-1 {
  background-position: bottom 270px left;
  left: 100px;
  top: 0;
  background-size: 400px;
}

.pill-2 {
  background-position: bottom left;
  background-size: 300px;
  left: 200px;
}

/* .introduction-text {
  background-image: url('../img/bg-tablet-pattern.svg');
  background-position: bottom left 200px;
  background-size: 400px;
  background-repeat: no-repeat;
} */

.introduction .btn {
  margin-top: 2rem;
}

.introduction-image img {
  width: 100%;
}

/*    SECTION PRODUCT DESCRIPTION     */
.product-description {
  margin-top: 6rem;
}

.brief {
  text-align: center;
}

.key-products {
  margin-top: 3rem;
}

.key-products ol {
  list-style: none;
  counter-reset: item;
}

.key-products li {
  counter-increment: item;
  margin-bottom: 3rem;
}

.key-products .title-wrapper::before {
  content: '0' counter(item);
  background-color: var(--main-background);
  display: inline-block;
  color: white;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  z-index: 10;
  position: relative;
}

.title-wrapper {
  display: flex;
  width: fit-content;
}

.key-products h6 {
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.75rem 3rem;
  margin-left: -1rem;
  z-index: 1;
  background-color: #fff0ec;
  width: calc(100vw - 2rem);
}

/*    SECTION REVIEWS     */
.reviews {
  margin-top: 6rem;
  text-align: center;
}

.reviews > ul {
  display: flex;
}

.reviews h2 {
  margin-bottom: 5rem;
}

.review-card {
  background-color: var(--background-light);
  padding: 0 1rem 2rem 1rem;
  margin-bottom: 3rem;
}

.review-card h5 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.review-card img {
  width: 60px;
  margin-top: -30px;
}

.card-hidden {
  display: none;
}

.carousel-control ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.carousel-control li {
  border: 1px solid var(--main-background);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
}

.carousel-selected {
  background-color: var(--main-background);
}

/*    SECTION CALL TO ACTION     */
.call-to-action {
  text-align: center;
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.call-to-action h3 {
  color: white;
  margin-bottom: 2rem;
}

/*              FOOTER                 */
footer {
  background-color: var(--background-dark);
}

footer .container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-form {
  order: 0;
  width: 100%;
}

.mail-form form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.mail-form input {
  background-color: white;
  border: none;
  border-radius: 1.4rem;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  flex-shrink: 1;
  min-width: 100px;
}

.page-links {
  order: 1;
  max-width: 180px;
}

.page-links > ul {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.page-links li a {
  color: var(--text-light);
  text-decoration: none;
  display: inline-block;
  width: 90px;
  line-height: 3rem;
}

.page-links li a:hover {
  color: var(--main-background);
}

.container-logo-media {
  order: 2;
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media {
  width: 100%;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 150px;
  gap: 5px;
}

.social-media-container i {
  color: white;
  font-size: 2rem;
}

.social-media-container i:hover {
  color: var(--main-background);
}

footer .container .logo {
  order: 3;
  margin-top: 3rem;
}

footer .container > p {
  order: 4;
  margin-top: 3rem;
  font-size: 1rem;
}

/*            ------ RESPONSIVE ------            */

@media (min-width: 900px) {
  .container {
    padding: 4rem 6rem;
  }
  /*              HEADER                 */
  header nav {
    display: block;
  }

  header .container .btn {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }

  /*              MAIN                 */
  .introduction {
    flex-direction: row;
    text-align: start;
    gap: 5rem;
  }

  .introduction-text {
    flex-basis: 50%;
  }

  .introduction-text h1 {
    font-size: 5.8rem;
    letter-spacing: -0.3rem;
  }

  .introduction-text p {
    width: 70%;
    color: black;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .introduction-image {
    flex-basis: 50%;
  }

  .product-description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5rem;
  }

  .brief {
    text-align: start;
    flex-basis: 50%;
  }

  .brief h2 {
    font-size: 3.6rem;
    width: 80%;
  }

  .brief p {
    width: 60%;
    font-size: 1.6rem;
    color: black;
    line-height: 2.5rem;
  }

  .key-products {
    flex-basis: 50%;
    margin-top: 1rem;
  }

  .key-products h6 {
    width: auto;
    background-color: transparent;
  }

  .key-products p {
    margin-left: 8.5rem;
  }

  .reviews h2 {
    font-size: 4rem;
  }

  .card-hidden {
    display: block;
  }

  .reviews > ul {
    flex-direction: row;
  }

  .carousel-control {
    display: none;
  }

  .call-to-action {
    flex-direction: row;
    margin-top: 18rem;
    text-align: start;
    margin-top: 0;
    padding: 2rem 0;
  }

  .call-to-action h3 {
    width: 400px;
    margin: 0;
  }

  /*              FOOTER                 */
  footer .container {
    flex-direction: row;
    height: 100%;
    position: relative;
  }

  .container-logo-media {
    order: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
    align-self: stretch;
    padding: 1rem 0;
    max-width: 300px;
  }

  footer .container .logo {
    margin-top: 0;
  }

  .social-media-container {
    margin: 0;
  }

  .social-media {
    justify-content: space-between;
  }

  .page-links {
    order: 1;
    max-width: 400px;
  }

  .page-links ul {
    margin: 0;
  }

  .page-links li a {
    width: 150px;
  }

  .mail-form {
    order: 2;
    align-self: start;
    margin-right: auto;
  }

  .mail-form form {
    margin-left: auto;
    width: fit-content;
  }

  footer .container > p {
    margin-top: 0;
    position: absolute;
    bottom: 4rem;
    right: 5%;
  }

  .pill-background {
    display: none;
  }
}
